.all{
    background-color: lightgrey;
}

.title {
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.title-box {
    margin-left: 50px;
    font-size: 15px;
    padding: 20px;
}

span {
    margin-right: 30px;
}

.input {
    margin-left: 3%;
}

/* #list {
    display: inline-block;
} */